@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2px;
  margin-top: 10px;
  color: aliceblue;
}

ul {
  width: auto;
  float: right;
  list-style: none;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: aliceblue;
  text-decoration: none;
}
