@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background: #f2fffe;
  font-family: "poppins", sans-serif;
}

.bg {
  background: #010615;
}
header {
  width: 100%;
  height: 70px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

header h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2px;
  margin-top: 10px;
  color: aliceblue;
}

header ul {
  width: auto;
  float: right;
  list-style: none;
  margin-top: 8px;
}

header li {
  display: inline-block;
  padding: 15px 30px;
}

header a {
  text-align: center;
  color: aliceblue;
  text-decoration: none;
}

.wrap {
  width: 250px;
  position: absolute;
  top: 50%;
  float: center;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  padding: 15px;
}
